.tag-user {
  --radius: 0.9375rem;
  border: none;
  background: var(--color-b);
  outline: none;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  padding: 0.3125rem 0.9375rem;
  margin-inline: 0.625rem;
  border-radius: var(--radius);
  cursor: pointer;
  position: relative;

  .user-image {
    width: 1.5625rem;
    height: 1.5625rem;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 0.3125rem;
  }

  .option-list-user {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--color-b);
    border-radius: var(--radius);
    padding: 0.625rem 1.25rem;
    top: 2.1875rem;
    width: 100%;
    animation: fade-in .5s ease-in-out;
    li {
      list-style: none;
      &:hover {
        opacity: .5;
      }
      &.logout-link {
        color: var(--color-error, #f80);
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}


.card-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.9375rem);
  border-radius: 1.25rem;
  overflow: hidden;

  /* border-radius: 18px; */
  .image-container {
    height: 100%;
    img {
      min-width: 15.625rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    .card-title {
      font-size: 1.25rem;
      color: #fff;
    }

    .card-description {
      padding-left: 1.25rem;
      color: #c7c8cc;
      font-family: "Varela Round", sans-serif;
    }

    .category {
      color: #9a86a4;
      font-size: 0.875rem;
    }

    .tags {
      margin-bottom: 1.25rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.625rem;

      .tag {
        color: #1e1c1c;
        display: inline-block;
        background: #f80;
        border-radius: 0.9375rem;
        padding: 0.3125rem;
        line-height: 1;
        font-size: 0.75rem;
      }
    }

    a {
      padding: 0.3125rem 1.25rem;
      width: fit-content;
      text-align: center;
      align-self: flex-end;
      position: relative;
      color: #f8fae5;
      font-family: "Varela Round", sans-serif;
      font-weight: bold;
      font-size: 1.125rem;

      &:hover:after {
        width: 100%;
      }


      &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 1.875rem;
        height: 100%;
        border-radius: 1.5625rem;
        background: #9a86a4;
        z-index: -1;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.list-of-tutorials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-block: var(--margin-between);
}

.input-search {
  border: none;
  background: rgba(255, 255, 255, .2);
  outline: none;
  padding: 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  max-width: 31.25rem;
  width: 100%;
  align-self: center;
  transition: .2s ease-in-out;

  &:focus {
    outline: 0.125rem solid #9a86a4;
  }
}

.noAuthenticated {
  color: #9a86a4;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (width < 68.75rem) {
  .list-of-tutorials {
    grid-template-columns: 1fr;
  }
}

@media screen and (width < 96.875rem) {
  .card-article {
    flex-direction: column;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(0.625rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
