.quiz {
  --bg: #1e1c29;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background: var(--bg);
  padding: 30px;
  margin-bottom: 50px;

  header {
    .quiz-title {
      color: #fff;
      margin-bottom: 10px;
      text-align: center;
    }
    .indicators {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      .indicator {
        list-style: none;
        font-weight: bold;
        min-width: 50px;
        min-height: 50px;
        text-align: center;
        color: #fff;
        align-content: center;
        border-radius: 100%;
        cursor: pointer;

        &.active {
          color: #000;
          background: #f7f17d;
        }
      }
    }
  }

  .question-container {

    .text-question {
      color: #fff;
      margin-bottom: 30px;
      text-align: center;
    }
    .options-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .option {
        flex: 1;
        min-width: 49%;
        padding: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        background: #5788a5;
        font-weight: bold;
        border-left: 0.25rem solid #8396b5;
        font-size: 1.125rem;
        color: #281b39;
        position: relative;
        img {
          width: 40px;
          position: absolute;
          right: 1.875rem;
          vertical-align: top;
        }
      }
    }
  }

  .progress {
    color: #fff;
    font-weight: bold;
  }
}

@media screen and (width < 1100px) {
  .quiz {
    flex-direction: column;

    header {
      display: flex;
      flex-direction: column;
      .indicators {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 50px;
        align-self: center;
        overflow: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        .indicator {
          scroll-snap-align: start;
        }
      }
    }

    .progress {
      text-align: center;
    }
  }
}
