---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Doubling Creativity - Not Found">
  <h1>404 No Encontrado</h1>
</Layout>

<style>
  h1 {
    font-size: 2.5em;
    text-align: center;
    color: #555;
  }
</style>
