---
import Layout from "../layouts/Layout.astro";
import BentoGrid from "../sections/BentoGrid.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Doubling Creativity">
  <Hero />
  <h2 class="title-main">Popular categories</h2>
  <BentoGrid />
  <h2 class="title-main">Recent Articles</h2>
</Layout>

<style>
  .title-main {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    margin-block: 20px;
  }
</style>
