---
import Layout from "../layouts/Layout.astro";
import BentoGrid from "../sections/BentoGrid.astro";
import Hero from "../sections/Hero.astro";
import Quote from "../sections/Quote.astro";
import RecentArticles from "../sections/RecentArticles.astro";
---

<Layout title="Doubing Creativity">
  <Hero />
  <h2 class="title-main">Tutoriales Populares</h2>
  <BentoGrid />
  <h2 class="title-main">Articulos Recientes</h2>
  <RecentArticles />
  <Quote
    text="Creo profundamente en la desobediencia civil, y creo que leer, crear, hacer peliculas y pintar, es una forma de desobediencia, es una forma de ir contra el establecimiento que fomenta otras cosas completamente distintas. En el Arte, lo que prima es el Ocio, no la productividad, el ocio no es rentable, pero a largo plazo sí lo es, porque en él se crean las mejores ideas."
    author="Mario Mendoza"
    image="/img/authors/Mario_Mendoza.webp"
  />
</Layout>

<style>
  .title-main {
    display: inline-block;
    color: #fff;
    font-size: 1.5625rem;
    margin-block: 1.25rem;
  }
</style>
