---
import Layout from "../layouts/Layout.astro";
import BentoGrid from "../sections/BentoGrid.astro";
import Hero from "../sections/Hero.astro";
import Quote from "../sections/Quote.astro";
import RecentArticles from "../sections/RecentArticles.astro";
---

<Layout title="Doubling Creativity">
  <Hero />
  <h2 class="title-main">Popular Tutorials</h2>
  <BentoGrid />
  <h2 class="title-main">Recent Articles</h2>
  <RecentArticles />
  <Quote
    text="I believe deeply in civil disobedience, and I believe that reading, creating, making films, painting, is a way of disobedience, it is a way of going against an establishment that encourages other completely different things. In Art, what prevails is Leisure, not productivity, and leisure is not profitable, but in the long term it is, because the best ideas are created there."
    author="Mario Mendoza"
    image="/img/authors/Mario_Mendoza.webp"
  />
</Layout>

<style>
  .title-main {
    display: inline-block;
    color: #fff;
    font-size: 1.5625rem;
    margin-block: 1.25rem;
  }
</style>
