---
import FormRegister from "../components/FormRegister";
import LayoutSingIn from "../layouts/LayoutSing-in.astro";
---

<LayoutSingIn title="Register" background="/img/bg-image-register.jpg">
  <div class="container-form">
    <FormRegister client:load />
  </div>
</LayoutSingIn>

<style>
  .container-form {
    --bg: rgba(36, 36, 71, 0.7);
    --color-error: #ef5a6f;
    --color-ok: #9cdba6;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.625rem);
    padding: 1.25rem;
    border-radius: 1.25rem;
    width: 100%;
    max-width: 31.25rem;
  }
</style>
