---
interface Props {
  title: string;
  description: string;
  url: string;
  urlImage: string;
}

const { title, url, urlImage, description } = Astro.props;
---

<article class="article-main" style=`--bg: url(${urlImage});`>
  <a
    class="image-container-article"
    href={url}
    target="_blank"
    rel="noopener noreferer"><span>{title}</span></a
  >
  <p class="article-description">
    {description}
  </p>
</article>

<style>
  .article-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: #fff;
    transition: scale 0.5s;
    background: var(--color-b);
    border-radius: 0.625rem;
    overflow: hidden;

    &:hover {
      scale: 1.1;
    }

    .image-container-article {
      width: 100%;
      height: 25rem;
      background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 70%, transparent),
        var(--bg) center/cover;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      padding: 20px;
    }

    .article-description {
      padding: 20px;
    }
  }

  @media screen and (max-width: 1100px) {
    .article-main {
      width: 100%;
    }
  }
</style>
