---
interface Props {
  title: String;
  description: String;
  idImage: String;
}

const { title, description, idImage } = Astro.props;
---

<a style=`--bg: url(${idImage});` class="bento-item" href="#">
  <h1 class="title-bento-item">{title}</h1>
  <p class="description-bento-item">{description}</p>
</a>

<style>
  .bento-item {
    background:
      linear-gradient(to top, rgba(0, 0, 0, 0.7) 70%, transparent),
      var(--bg) no-repeat;
    background-size: 100%;
    background-position: center center;
    border-radius: 1.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    box-shadow: 0.625rem 0.625rem 0 var(--shadow-color);

    .title-bento-item {
      font-size: 2.5rem;
    }

    &:hover {
      background-size: 110%;

      transform: translate(0.625rem, 0.625rem);
      .description-bento-item {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .title-bento-item {
      font-size: 1.875rem;
    }

    .description-bento-item {
      transform: translateY(2.5rem);
      transition: 0.3s ease-in-out;
      opacity: 0;
    }

    &:nth-child(1) {
      grid-column: span 3;
    }
    &:nth-child(3) {
      grid-column: span 2;
    }
    &:nth-child(4) {
      grid-column: span 2;
    }
  }

  @media screen and (max-width: 1100px) {
    .bento-item {
      grid-column: 1 !important;
    }
  }
</style>
