---
import Typewriter from "typewriter-effect/dist/core";

new Typewriter("#title", {
  strings: ["Develop Your Creativity"],
  autoStart: true,
  loop: true,
});
---

<h1 class="hero-title" id="title">Develop your creativity</h1>
