---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "@fontsource/varela-round";
import QuizComponent from "../../components/QuizComponent";
// 1. Genera una nueva ruta para cada entrada de colección
export async function getStaticPaths() {
  const tutorialsEntries = await getCollection("tutorials");
  return tutorialsEntries.map((entry) => ({
    params: { tutorial: entry.slug },
    props: { entry },
  }));
}
// 2. Para tu plantilla, puedes obtener la entrada directamente de la prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const { quiz } = entry.data;
---

<Layout title={entry.data.title}>
  <div class="tutorial-content">
    <Content />
  </div>
  <QuizComponent questions={quiz} client:load />
</Layout>

<style>
  .tutorial-content {
    --bg: #1e1c29;
    --color-title: #e4d1b9;
    --color-sub: #f7f17d;
    --color-text: #cfc49d;
    background: var(--bg);
    padding: 30px 35px;
    margin-block: var(--margin-between);
    margin-bottom: 0;

    .title {
      text-align: center;
      color: var(--color-title);
      font-size: 3.125rem;
      margin-bottom: 40px;
    }

    h2 {
      color: #fff;
      font-size: 1.875rem;
    }

    h3,
    h4 {
      font-size: 1.5625rem;
      color: var(--color-sub);
      margin: 0.3125rem 0;
    }

    h4 {
      font-size: 1rem;
    }

    p {
      font-family: "Varela Round", sans-serif;
      font-size: 1.125rem;
      color: var(--color-text);
      padding-left: 0.9375rem;
      margin: 1.25rem 0;
    }

    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      margin-block: 1.5625rem;
      li {
        list-style: none;
        padding: 0.625rem;
        background: #8396b5;
        border-left: 0.25rem solid #5788a5;
        font-size: 1.125rem;
        color: #281b39;
      }
    }
  }
</style>
