---
interface Props {
  title: string;
  prhase: string;
  img: string;
}

const { title, img, prhase } = Astro.props;
---

<section class="banner" style={`--bg: url(${img});`}>
  <h1 class="banner-title">{title}</h1>
  <p class="banner-prhase">{prhase}</p>
</section>

<style>
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    margin-block: var(--margin-between);
    padding: 20px 100px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 70%, transparent),
      var(--bg);
    background-attachment: fixed;

    .banner-title {
      font-size: 3.4375rem;
      text-align: center;
      text-shadow: 5px 5px 20px #fff;
      text-transform: uppercase;
    }
    .banner-prhase {
      font-style: italic;
      text-align: center;
    }
    .image-banner {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media screen and (width < 1100px) {
    .banner {
      padding: 10px;

      .banner-prhase {
        font-size: 12px;
      }
    }
  }
</style>
