<section class="hero-main">
  <div class="content">
    <h1 class="hero-title" id="title">Desarrolla tu creatividad</h1>
    <p class="hero-text">
      Descubre un nuevo mundo dentro del arte. Explora cursos y tutoriales en
      linea de los mejores artistas y expertos.
    </p>
  </div>
  <div class="image-container">
    <img src="/img/image-main-1.svg" alt="art wordl skills" />
  </div>
</section>

<style>
  .hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.25rem;
    margin-block: var(--margin-between);

    .content {
      color: #fff;
      .hero-title {
        font-size: 5rem;
        text-shadow: 5px 5px 30px #fff;
        text-transform: uppercase;
      }

      .hero-text {
        text-wrap: pretty;
        color: #9494c7;
      }
    }

    .image-container {
      width: 70%;
      img {
        width: 100%;
        animation: translate 2s linear alternate infinite;
      }
    }
  }

  @keyframes translate {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(1.875rem);
    }
  }

  @media screen and (max-width: 1100px) {
    .hero-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .content {
        text-align: center;
        .hero-title {
          font-size: 3.4375rem;
        }
      }

      .image-container {
        img {
          width: 100%;
        }
      }
    }
  }
</style>
