<section class="hero-main">
  <div class="content">
    <h1 class="hero-title" id="title">Develop your creativity</h1>
    <p class="hero-text">
      Discover a new world through art. Explore courses and tutorials on line of
      the best artists and experts.
    </p>
  </div>
  <div class="image-container">
    <img src="/img/image-main-1.svg" alt="art wordl skills" />
  </div>
</section>

<style>
  .hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.25rem;
    margin-block: var(--margin-between);

    .content {
      color: #fff;
      .hero-title {
        font-size: 5.625rem;
      }

      .hero-text {
        text-wrap: pretty;
        color: #9494c7;
      }
    }

    .image-container {
      img {
        width: 37.5rem;
        animation: translate 2s linear alternate infinite;
      }
    }
  }

  @keyframes translate {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(1.875rem);
    }
  }

  @media screen and (max-width: 1100px) {
    .hero-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .content {
        text-align: center;
      }

      .image-container {
        img {
          width: 100%;
        }
      }
    }
  }
</style>
