---
import Article from "../components/Article.astro";
import { articles } from "../mock/artcles-main.json";
---

<section class="resent-articles">
  {
    articles.map((article) => (
      <Article
        title={article.title}
        description={article.description}
        url={article.url}
        urlImage={article.idImg}
      />
    ))
  }
</section>

<style>
  .resent-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-block: var(--margin-between);
    gap: 20px;
  }

  @media screen and (max-width: 1100px) {
    .resent-articles {
      flex-direction: column;
    }
  }
</style>
