---
import Navbar from "../components/Navbar.astro";
import "@fontsource/poppins";
import "@fontsource/calistoga";
import NavbarMobile from "../components/NavbarMobile.jsx";
import FormLogin from "../components/FormLogin";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Doubling Creativity" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/logo-icon.svg" />
    <title>{title}</title>
    <!-- Meta Description -->
    <meta
      name="description"
      content="Bienvenido a nuestra página de arte, un espacio donde la creatividad no tiene límites y el arte cobra vida. Aquí encontrarás una galería vibrante de obras, tutoriales inspiradores, y recursos que te invitan a explorar tu lado más artístico. Ya seas un artista experimentado o un principiante lleno de curiosidad, nuestra plataforma está diseñada para nutrir tu pasión y ayudarte a crecer."
    />

    <!-- Meta Keywords (Opcional) -->
    <meta
      name="keywords"
      content="arte tutoriales de artepinturaesculturailustracióncreatividadtécnicas artísticasdibujoarte digitalinspiración artísticarecursos para artistasgalería de artecursos de arte en líneacomunidad de artistasaprendizaje de arteobras de artearte contemporáneodiseño artísticoexposición de arteformación artística"
    />

    <!-- Meta Robots -->
    <meta name="robots" content="index, follow" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://doublingcreativity.netlify.app/" />

    <!-- Open Graph para redes sociales -->
    <meta property="og:title" content="Doubling Creativity" />
    <meta
      property="og:description"
      content="Bienvenido a nuestra página de arte, un espacio donde la creatividad no tiene límites y el arte cobra vida. Aquí encontrarás una galería vibrante de obras, tutoriales inspiradores, y recursos que te invitan a explorar tu lado más artístico. Ya seas un artista experimentado o un principiante lleno de curiosidad, nuestra plataforma está diseñada para nutrir tu pasión y ayudarte a crecer."
    />
    <meta
      property="og:image"
      content="https://doublingcreativity.netlify.app/public/img/logo.svg"
    />
    <meta property="og:url" content="https://doublingcreativity.netlify.app/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Doubling Creativity" />
    <meta
      name="twitter:description"
      content="Bienvenido a nuestra página de arte, un espacio donde la creatividad no tiene límites y el arte cobra vida. Aquí encontrarás una galería vibrante de obras, tutoriales inspiradores, y recursos que te invitan a explorar tu lado más artístico. Ya seas un artista experimentado o un principiante lleno de curiosidad, nuestra plataforma está diseñada para nutrir tu pasión y ayudarte a crecer."
    />

    <!-- Language -->
    <meta http-equiv="Content-Language" content="es" />

    <!-- hreflang para contenido multilingüe -->
    <link
      rel="alternate"
      href="https://doublingcreativity.netlify.app/"
      hreflang="es"
    />

    <!-- Etiquetas Schema.org -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Tu Empresa",
        "url": "https://www.tusitio.com",
        "logo": "https://www.tusitio.com/logo.jpg"
      }
    </script>

    <!-- Derechos de Autor (Opcional) -->
    <meta name="copyright" content="© 2024 Doubling Creativity" />
  </head>
  <body>
    <Navbar />
    <NavbarMobile client:load />
    <FormLogin client:load />
    <main>
      <slot />
    </main>
  </body>
  <Footer />
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  a {
    color: #fff;
    text-decoration: none;
  }

  :root {
    --body-bg: url("/img/meteor-bg.svg");
    --color-a: #1a1ae5;
    --color-b: #242447;
    --margin-between: 60px;
    --shadow-color: #6924ff26;
  }

  body {
    background: no-repeat center/cover var(--body-bg);
    min-height: 100vh;
    max-width: 75%;
    margin: 0 auto;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 1100px) {
    :root {
      font-size: 13px;
    }

    body {
      max-width: 100%;
      padding-inline: 20px;
    }
  }
</style>
