---
import Navbar from "../components/Navbar.astro";
import "@fontsource/poppins";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Doubling Creativity" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  :root {
    --body-bg: linear-gradient(to top, #24243e, #302b63, #0f0c29);
  }

  body {
    background: #0f0c29;
    background: no-repeat var(--body-bg);
    min-height: 100vh;
    max-width: 70%;
    margin: 0 auto;
  }
</style>
