---
import Navbar from "../components/Navbar.astro";
import "@fontsource/poppins";
import NavbarMobile from "../components/NavbarMobile.jsx";
import FormLogin from "../components/FormLogin";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Doubling Creativity" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <NavbarMobile client:load />
    <FormLogin client:visible />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  a {
    color: #fff;
    text-decoration: none;
  }

  :root {
    --body-bg: url("/img/meteor-bg.svg");
    --color-a: #1a1ae5;
    --color-b: #242447;
    --margin-between: 60px;
    --shadow-color: #6924ff26;
  }

  body {
    background: no-repeat center/cover var(--body-bg);
    min-height: 100vh;
    max-width: 70%;
    margin: 0 auto;
  }

  @media screen and (max-width: 1100px) {
    :root {
      font-size: 13px;
    }

    body {
      max-width: 100%;
      padding-inline: 20px;
    }
  }
</style>

<script>
  const btnCloseModal = document.querySelector(".btn-close-modal");
  const modal = document.querySelector(".dialog-modal") as HTMLDialogElement;
  btnCloseModal.addEventListener("click", () => {
    modal.style.display = "none";
  });

  const btnShowModal = document.querySelector(".btn.i");

  btnShowModal.addEventListener("click", () => {
    modal.style.display = "flex";
  });
</script>
